{% include "file-header.xml.template" %}
{% include "auth-header.xml.template" %}
  <s:Body>
    <ChangePassword
            xmlns="http://www.blaise.com/security/2013/03">
      <userName>{{ NAME }}</userName>
      <oldPassword/>
      <newPassword>{{ NEW_PASSWORD }}</newPassword>
    </ChangePassword>
  </s:Body>
{% include "file-footer.xml.template" %}
