{% include "file-header.xml.template" %}
{% include "auth-header.xml.template" %}
  <s:Body>
    <IsInteractiveConnectionAllowed xmlns="http://www.blaise.com/deploy/2013/03"/>
  </s:Body>
{% include "file-footer.xml.template" %}
